@using VietBuddy.Web.Shared.Buttons
@using Blazored.FluentValidation
@inject TranslationRepository TranslationRepository

@if (!String.IsNullOrEmpty(HeaderText))
{   
    <h2>@HeaderText</h2>
}

<EditForm Model="Translation" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <FormSection HelpText="Add a word or phrase">
        <div class="input-group mb-2">
            <label for="vietnamese" class="input-group-text">VN</label>
            <InputText @bind-Value="Translation.Vietnamese" class="form-control" id="vietnamese" autofocus />
        </div>
        <div class="input-group">
            <label for="english" class="input-group-text">EN</label>
            <InputText @bind-Value="Translation.English" class="form-control" id="english" />
        </div>
    </FormSection>

    <FormSection>
        <label for="tags" class="form-label text-secondary">Include example sentences</label>
        <InputText @bind-Value="example" class="form-control" />
        @if (Translation.Examples.Any())
        {
            <div class="mt-3">
                @foreach (var example in Translation.Examples)
                {
                    <p class="d-flex gap-2 align-items-center m-0">
                        <ButtonTrash Clicked="@(() => RemoveExample(example))" />
                        <span>@example</span>
                    </p>
                }
            </div>
        }
    </FormSection>

    <FormSection>
        <label for="tags" class="form-label text-secondary">Tag a book, person, etc. for context</label>
        <InputText class="form-control"
            list="tagsList"
            id="tags"
            placeholder="New or existing tag..."
            @bind-Value="tag" />
        <datalist id="tagsList">
            @* <option value="dế mèn phiêu lưu ký" /> *@
        </datalist>
        @if (Translation.Tags.Any())
        {
            <div class="mt-3">
                @foreach (var tag in Translation.Tags)
                {
                    <p class="d-flex gap-2 align-items-center m-0">
                        <ButtonTrash Clicked="@(() => RemoveTag(tag))" />
                        <span>@tag</span>
                    </p>
                }
            </div>
        }
    </FormSection>

    <div class="d-flex gap-1 align-items-center">
        <button class="btn btn-primary" type="submit">Submit</button>
        @if (isModal)
        {
            <button @onclick="ModalInstance.CancelAsync" class="btn btn-outline-secondary">Cancel</button>
        }
        @if (!isNew)
        {
            <ButtonTrash Size="2x" Class="ms-auto" Clicked="Delete" />
        }
    </div>
</EditForm>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public Translation Translation { get; set; } = new Translation();
    [Parameter] public string HeaderText { get; set; }
    private string _example;
    public string example
    {
        get { return _example; }
        set
        {
            _example = value;
            Translation.Examples.Add(value);
            _example = "";
        }
    }
    private string _tag;
    private string tag
    {
        get { return _tag; }
        set
        {
            _tag = value;
            Translation.Tags.Add(value);
            _tag = "";
        }
    }
    private bool isModal;
    private bool isNew;

    protected override void OnInitialized()
    {
        isModal = (ModalInstance != null);
        isNew = (Translation.Id == null);
    }

    private void RemoveTag(string tag) => Translation.Tags.Remove(tag);
    
    private void RemoveExample(string example) => Translation.Examples.Remove(example);

    private async Task Submit()
    {
        if (isNew)
        {
            await TranslationRepository.AddAsync(Translation);
            Reset();
        }
        else
        {
            await TranslationRepository.UpdateAsync(Translation);
        }

        if (isModal)
            await ModalInstance.CloseAsync(ModalResult.Ok<EditResult>(EditResult.Modified));
    }

    private void Reset() => Translation = new Translation();

    private async Task Delete()
    {
        await TranslationRepository.DeleteAsync(Translation);

        if (isModal)
            await ModalInstance.CloseAsync(ModalResult.Ok<EditResult>(EditResult.Deleted));
    }
}